qa-ingest-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "formTitle": "QA Submission",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name"
            },
            {
              "fieldLabel": "Email"
            },
            {
              "fieldLabel": "Question"
            },
            {
              "fieldLabel": "Answer",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        32,
        48
      ],
      "id": "1b33fb7a-adf0-4dc1-9694-a37bbc8efa9e",
      "name": "On form submission",
      "webhookId": "a3551c5f-7423-4b8b-b0ab-51ce078e6d26"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6108f97a-29d7-4c26-8d7f-19576772ba7f",
              "name": "isTrusted",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        -80
      ],
      "id": "60644cd0-d8a4-44b7-9da9-bdb7a05461ea",
      "name": "isTrusted:true"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "37006e27-92d4-4c89-8364-66d15c331aef",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "n8n.io",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        240,
        48
      ],
      "id": "306c202e-629c-452d-b6ab-16204d361ce6",
      "name": "is n8n.io email?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6108f97a-29d7-4c26-8d7f-19576772ba7f",
              "name": "isTrusted",
              "value": false,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        96
      ],
      "id": "60d2b0b5-0cb3-41e9-aa6a-048d4dcbddc8",
      "name": "isTrusted:false"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        704,
        64
      ],
      "id": "eaf7172f-50f6-417b-b0f2-b159193aa7e8",
      "name": "ref"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        896,
        256
      ],
      "id": "b4901db9-f019-42fa-b029-8dbff83114ad",
      "name": "Add tag",
      "credentials": {
        "openAiApi": {
          "id": "bQio7vdxEztR1ZDh",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following question and answer and output relevant tags \n\nQuestion: {{ $json.Question }}\nAnswer: {{ $json.Answer }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are a content tagging expert. Your task is to analyze Question and Answer submissions and generate relevant, descriptive tags that categorize the content based on topic, key concepts, and technical terms. Always provide 4-8 tags as a comma separated list. Keep tags short and focused in individual length.\n\nExample Output:\npartner, partnership, agency, external contractors, lead referral "
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        896,
        64
      ],
      "id": "4c81bfda-d83a-4c3a-93d5-0cefc7f2d0fe",
      "name": "Add tags"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "wplNgongi6hZrxKm",
          "mode": "list",
          "cachedResultName": "q&a",
          "cachedResultUrl": "/projects/umdiZv2bQS55Yhj0/datatables/wplNgongi6hZrxKm"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "isTrusted": "={{ $('ref').item.json.isTrusted }}",
            "Tags": "={{ $json.text }}",
            "Name": "={{ $('ref').item.json.Name }}",
            "Email": "={{ $('ref').item.json.Email }}",
            "Answer": "={{ $('ref').item.json.Answer }}",
            "Question": "={{ $('ref').item.json.Question }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Question",
              "displayName": "Question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Answer",
              "displayName": "Answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tags",
              "displayName": "Tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "isTrusted",
              "displayName": "isTrusted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1248,
        64
      ],
      "id": "127597c1-305e-4a81-b142-82bb033bebbb",
      "name": "Insert row"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "is n8n.io email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isTrusted:true": {
      "main": [
        [
          {
            "node": "ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is n8n.io email?": {
      "main": [
        [
          {
            "node": "isTrusted:true",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "isTrusted:false",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isTrusted:false": {
      "main": [
        [
          {
            "node": "ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ref": {
      "main": [
        [
          {
            "node": "Add tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add tag": {
      "ai_languageModel": [
        [
          {
            "node": "Add tags",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Add tags": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0c48847155c5a710b3a5fcd776c7a5896ba00bda037534f736482d9e04aaa64b"
  }
}